@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.skip-link {
    background: black;
    color: white;
    font-weight: 700;
    padding: 4px;
    position: absolute;
    transform: translateY(-200%);
    transition: transform 0.3s;
}

.skip-link:focus {
    transform: translateY(-100%);
}